:root {
	--nav-height: 50px;
}

body {
	margin: 0 auto;
}

nav {
	height: var(--nav-height);
	position: sticky;
	display: flex;
	align-items: center;
	padding: 0 15px;
	background-color: black;
	color: white;
}

main {
	min-height: calc(100vh - var(--nav-height));
	background-color: #212121;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
}

h1 {
	margin: 0;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: goldenrod;
}

a:active {
	color: white;
}

.grid {
	box-sizing: border-box;
	border: 1px solid white;
	justify-content: center;
	height: calc(80vh - var(--nav-height));
	width: calc(80vh - var(--nav-height));
	margin: 15px;
}

.row {
	display: flex;
	height: auto;
}

.cell {
	box-sizing: border-box;
	border: 1px solid white;
	height: auto;
	width: auto;
}

.colored {
	background-color: white;
}