/* Variables */

:root {
  --gridNum: "";
  --box-size: 50px;
}

/* Main Styles */

#grid {
  display: grid;
  grid-template-columns: repeat(var(--gridNum), var(--box-size));
  padding: 10px;
}

.box {
  display: flex;
  border: solid black 1px;
  height: var(--box-size);
  width: var(--box-size);
  justify-content: center;
  align-items: center;
}

.etched {
  background-color: #000;
}