:root {
  --gridSize: "";
}

#content-wrapper {
  margin: 0 auto;
  text-align: center;
  background-color: #42aaf5;
  width: 700px;
  padding: 10px 0 50px 0;
  border-radius: 30px;
  font-family: sans-serif;
}

#grid {
  display: grid;
  text-align: center;
  margin: 0 auto;
  border: 5px solid black;
  border-radius: 15px;
  grid-template-columns: repeat(var(--gridSize), 1fr);
  grid-template-rows: repeat(var(--gridSize), 1fr);
  height: 550px;
  width: 550px;
  background-color: #fff;
}

.cell {
  /* border: 1px solid black; */
}

.etched {
  background-color: black;
}

h1 {
  color: #fff;
}

form {
  padding-bottom: 30px;
}

input, button {
  padding: 5px;
  border-radius: 5px;
}