/* Variables */

:root {
  --gridNum: "";
  --box-size: 50px;
}

/* Main Styles */

form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
}

form, input, button {
  margin-left: 10px;
}

#container {
  display: flex;
  justify-content: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(var(--gridNum), var(--box-size));
  border: 5px solid black;
  max-width: calc(var(--gridNum) * var(--box-size));
}

.box {
  display: flex;
  /* border: solid black 1px; */
  height: var(--box-size);
  width: var(--box-size);
  justify-content: center;
  align-items: center;
}

.etched {
  background-color: #000;
}